node_modules

.idea
.vscode
.history
*.log
.DS_Store
package-lock.json

lib/commands
lib/compiler
lib/config
lib/shared
lib/index.d.ts
lib/client
site/mobile/*.routes.ts
site/mobile/routes.ts
site/pc/*.routes.ts
site/pc/routes.ts
site/site.config.json
site/*.site.config.json
lib/bin.d.ts